<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    <title>Shop product list - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/category_list.css">
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="container">
        <div class="col-md-3">
            <section class="panel">
                <header class="panel-heading">
                    Category
                </header>
                <div class="panel-body">
                    <ul class="nav prod-cat">
                        <li>
                            <a href="#" class="active"><i class="fa fa-angle-right"></i> Dress</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Bags &amp; Purses</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Beauty</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Coat &amp; Jacket</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Jeans</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Jewellery</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Electronics</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Sports</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Technology</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Watches</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Accessories</a>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
      
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>